.data-detail {
    margin-top: 50px;

    .header {
        padding-bottom: 5px;
        margin-bottom: 30px;
        position: relative;

        .picture-container {
            width: 80px;
            height: 80px;
            opacity: 0;

            @media only screen and (min-width: 768px) {
                float: left;
            }

            margin-right: 25px;

            @media only screen and (min-width: 768px) {
                margin-right: 30px;
            }

            @extend %box-shadow;
        }

        .entity-name {
            margin-top: 20px;
            font-size: 12px;

            @media only screen and (min-width: 768px) {
                margin-top: 0;
                float: left;
            }

            a {
                font-size: 14px;
                display: block;
            }
        }

        .button {
            position: absolute;
            top: 0;
            right: 0;
        }

        .title {
            clear: both;
            font-size: 16px;
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;

            margin-bottom: 0;

            @media only screen and (min-width: 768px) {
                padding-top: 30px;
            }
        }

        border-bottom: 1px solid #ddd;
    }

    .body {
        .body__infos {
            p {
                span {
                    display: inline-block;
                    position: relative;
                    font-weight: bold;
                    margin-right: 10px;

                    &::before {
                        content: ':';
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    @media only screen and (min-width: 768px) {
                        width: 30%;
                    }

                    @media only screen and (min-width: 1200px) {
                        width: 250px;
                    }
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    background-color: $blue-color;
                    padding: 2px 4px;
                    margin: 0 4px;
                    font-size: 12px;
                    font-weight: bold;
                    border-radius: 2px;
                    transition: all .3s;

                    &:hover, &:active {
                        text-decoration: none;
                        transition: all .3s;
                        color: #fff;
                        background-color: darken($blue-color, 10%);
                    }
                }
            }
        }
    }
}
