.footer {
  margin-top: 100px;
  @include clearfix;
  padding: 40px 0 25px 0;
  min-height: 400px;
  background-color: $dark-color;
  border-bottom: 6px solid $brand-color;
  color: #fff;
}

.footer__mailto {
    color: #fff;

    &:hover {
        color: $brand-color;
    }
}
