.base-search {
    position: absolute;
    width: 300px;
    // min-height: 400px;
    background-color: rgba(#fff, .15);

    left: 50%;
    top: 50%;
    padding: 40px 20px;

    transform: translateX(-50%) translateY(-50%);

    @extend %box-shadow;

    @media only screen and (min-width: 768px) {
        width: 400px;
    }

    .title {
        padding-top: 0;
        margin-top: 0;
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin: 0 auto;
        width: 80%;

        border-bottom: 1px solid #e2e2e2;

        @media only screen and (min-width: 768px)  {
            font-size: 18px;
        }
    }

    p.placeholder {
        padding: 0;
        margin: 0;
    }

    span.placeholder {
        color: #e2e2e2;
        font-size: 11px;
        text-align: left;
    }

    .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .select2-choices {
        background-color: rgba(#fff, .3);
    }

    .form-group--last {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


.search {
    min-height: 250px;
    background-color: #f8f8f8;
    box-shadow: 0 10px 60px rgba(#000, .2);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 80px;
    position: relative;
    @include clearfix;

    h2, h3, h4 {
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .container {
        height: 100%;
    }

    p.placeholder {
        padding: 0;
        margin: 0;
    }

    span.placeholder {
        color: #939494;
        font-size: 11px;
        text-align: left;
    }

    .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
