.phpintel/

/app/bootstrap.php.cache
/app/data/data.db3
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
web/node_modules/
web/bower_components/
/web/js/maps/
img/

web/css/.sass-cache
web/css/app.css
web/css/app.css.map
web/css/app.min.css
web/js/app.js
web/js/app.min.js
web/bs-config.js

web/admin/css/.sass-cache
web/admin/css/app.css
web/admin/css/app.min.css
web/admin/css/app.css.map
web/admin/js/app.js
web/admin/js/app.min.js
web/admin/bs-config.js
web/admin/node_modules/
web/admin/bower_components/
web/admin/js/maps/
web/css/app.css.map
.idea/
web/img/
