// colors
$brand-color: #fb6648;
$dark-color: #354458;
$blue-color: #0dc9f7;
$grey-color: #f8f8f8;

// fonts and text
$base-font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$base-font-size: 15px;
$base-line-height: 1.7;
$defautl-text-color: $dark-color;
$ionicons-font-path: "fonts";

// side menu
$side-menu-width: 260px;
$side-menu-zindex: 200;
