{% extends 'base.html.twig' %}

{% block body %}
    <header class="header header--jobs">
        <div class="container">
            <div class="header__jobs-box">
                <h1 class="title">trouve le travail de tes reves.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eum, ut possimus quidem aperiam deserunt.</p>
            </div>
        </div>
    </header>

    <section class="page-container">
        <aside class="sidebar">
        </aside>

        <div class="jobs__wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <p>And then the battle's not so bad? Come, Comrade Bender! We must take to the streets! Soon enough. Bite my shiny metal ass. Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it? Yeah, I do that with my stupidness.</p>
                    <h2>When Aliens Attack</h2>
                    <p>Ask her how her day was. Ask her how her day was. OK, if everyone's finished being stupid. Oh no! The professor will hit me! But if Zoidberg 'fixes' it&hellip; then perhaps gifts!</p>
                    <ul>
                        <li>They're like sex, except I'm having them!</li>
                        <li>I didn't ask for a completely reasonable excuse! I asked you to get busy!</li>
                        <li>Why am I sticky and naked? Did I miss something fun?</li>
                        <li>Bite my shiny metal ass.</li>
                    </ul>
                    <h3>Where the Buggalo Roam</h3>
                    <p>I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. You seem malnourished. Are you suffering from intestinal parasites? You're going back for the Countess, aren't you? Why would a robot need to drink? It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you? I guess because my parents keep telling me to be more ladylike. As though!</p>
                    <h4>Rebirth</h4>
                    <p>Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life. Your best is an idiot! We'll go deliver this crate like professionals, and then we'll go home. And yet you haven't said what I told you to say! How can any of us trust you? Yes, except the Dave Matthews Band doesn't rock.</p>
                    <ol>
                        <li>Yeah, I do that with my stupidness.</li>
                        <li>You seem malnourished. Are you suffering from intestinal parasites?</li>
                        <li>Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life.</li>
                    </ol>
                    <h5>Mars University</h5>
                    <p>That's a popular name today. Little "e", big "B"? Hey, whatcha watching? So, how 'bout them Knicks? Leela's gonna kill me. Daddy Bender, we're hungry. They're like sex, except I'm having them!</p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 site-side">
                    <h3>Offres statisques</h3>

                    <ul class="section__listing">
                        <li class="item"><a href="#">50 publications</a></li>
                        <li class="item"><a href="#">personnes inscrites <span class="bullet bullet--primary">4</span></a></li>
                    </ul>

                    <h4>Afficher par categorie</h4>
                    <ul class="section__listing">
                        <li class="item"><a href="#">Touts</a></li>
                        <li class="item"><a href="#">Webdevelopment</a></li>
                        <li class="item"><a href="#">Pedagogie generale</a></li>
                        <li class="item"><a href="#">Management</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
