<h3>Les meilleures opportunités viennent à vous.</h3>

<div>
    <img width="100%" height="auto" src="{{ asset('img/nous.jpg') }}" alt="">
</div>

<h4>IL N'Y A PLUS QU'À...</h4>

<p>Commencez votre nouvelle aventure !</p>

<div>
    <img width="100%" height="auto" src="{{ asset('img/vous.jpg') }}" alt="">
</div>
