{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="fos_user_group_show">
                <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
            </div>
        </div>
    </div>
</div>

