<div class="base-search">
    <form action="{{ path('search') }}" method="GET">
        <h6 class="title">Trouvez un shida</h6>

        <div class="form-group">
            <p class="placeholder">Quel shida ?</p>
            <input name="q" style="color:#fff" type="text" class="form-control">
            <span class="placeholder">Exemple: Chauffeur, Developpeur, le prix de...</span>
        </div>

        <div class="form-group">
            <p class="placeholder">Ou ?</p>
            <input name="l" style="color:#fff" type="text" class="form-control">
            <span class="placeholder">Exemple: {{ locations[0].town|default('') }}, {{ locations[1].town|default('') }}</span>
        </div>

        <div class="form-group form-group--last">
            <button class="button" type="submit">Rechercher</button>
        </div>
    </form>
</div>
